@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
}

@media (min-width: 768px) {
  .custom-show-md {
    display: block !important;
  }

  .top-spacing {
    margin-top: 3rem !important; /* 48px */
  }
}